/*
remember:

.class
element.class
#id

em is relative to the font-size of the element 
  (2em means 2x the size of the current font)

combine px and percent to get the best combo
*/
body {
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
  font-weight: 700;

  }

.logo{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  color: hsl(171, 66%, 23%)
}

.flexContainer {
  border-radius: 20px;
  background: white;
  font-family: 'Space Mono', monospace;
  font-weight: 700; 
  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border: none;
  margin: 15%;
  margin-top: 5%;
  padding: 200px;
  height: 200px;
  width: 50%;
}

.box1 {
  color: hsl(171, 66%, 23%);

}
.buttonWrapper{
  color: hsl(171, 66%, 23%);
}
#numberPpl{
  color: hsl(171,66%,23%);
}
.box2{
border-radius: 20px;
background-color: hsl(171, 66%, 23%);
color: white;

margin: 15%;
border: none;
padding: 125px;
}