body {
    background-color: hsl(185, 41%, 84%);
    font-family: "Space Mono", serif;
    font-weight: 700;
    
  }
  .billSplitter{
    display: block;
    float: none;
    border-radius: 25px;
    background: #FFFFFF;
    padding: 20px;
    width: 200px;
    height: 150px;
    
  }
  .selectTip{
    float:left;
    display: block;
    padding-top:
      padding-bottom:
        padding-right:
          padding-left:
  }
  
  .tipAmount{
    float:right;
     padding-top:
      padding-bottom:
        padding-right:
          padding-left:
  }
  
  .tipCalc{
    float: right;
    padding: 20px;
  }
  h1 {
    font-family: "Space Mono", sans-serif;
    color: hsl(183, 100%, 15%)
  }
  
  h2 {
    font-family: "Space Mono", serif;
    color: hsl(186, 14%, 43%);
  }
  
  #numb-ppl{
    font-family: "Space Mono", serif;
    color: hsl(186, 14%, 43%)
      
  }
  
  button{
    
  }
  
  